.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clear-both {
  clear: both;
}
.hidden {
  display: none !important;
}
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.transparent {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.no-background {
  background-image: none !important;
}
.stretch {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.default-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.set-top-radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.set-bottom-radius {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.busy-status {
  padding-left: 30px;
  vertical-align: middle;
  background: transparent url('/resources/img/icon-loading.gif') center left no-repeat;
}
#epic-notification-rail {
  position: fixed;
  width: 300px;
  right: 20px;
  bottom: 20px;
  z-index: 2000;
}
.epic-notice {
  width: 300px;
  overflow: hidden;
  margin: 0 0 10px 0;
  position: relative;
  font-size: 13px;
  line-height: 25px;
  opacity: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.epic-notice-title {
  display: block;
  margin: 10px 26px -5px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  text-align: left;
}
.epic-notice-content {
  overflow: hidden;
  text-align: left;
  margin: 10px;
  padding: 0;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.epic-notice-close {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 0;
  right: 0;
  color: #000;
  font-size: 21px;
  font-family: sans-serif;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZBJREFUeNpi/P//PwMYgBjGxsb/AQIIzGAEsQACiBHEMjExASsACCBGuEIQsLOzu62np/f/3LlzDowghoCAwJ179+59BQggsDItLa3/nz9/vvj37197UVHRD69fv17AAtKmpKQk8uLFizdA5gdWVtZbz58/T2QCSTAxMS2ZPXu245kzZ1jZ2NiYgKZoAAQQqo3IQFJScj7IUiDNLyMjc0FTU/M/SDHT1q1bFwLNZQBZKi4urg+k74CNNzIyOgCyECQJAry8vBZgCZD2379/q3Fzc4NVPn78+A0sODRAvgTSLCBf+vr6bgfZARBgYFcxMjKCHQFUZwDEDkB/fIQ6jB9IHQDiCyC/gdSCPW5oaHgd6EcNEBto3QdmZuaLILaQkJA+1E0GEhISIDdpwvzNcv78eZuCgoLZX79+VUH2PsitEyZMSAUaegTI/QPWICUlxQ809SCSiXAAtJHh3bt34Ph49uzZR3CQ6+joLAGFEUgxyERQ8IMwiA0SA8mB1MATByxUgNgEFCow00FsqJgGTC0AAjfIObc25hsAAAAASUVORK5CYII=) no-repeat center center;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
.epic-notice-close:hover,
.epic-notice-close:focus {
  text-decoration: none;
  cursor: pointer;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.epic-notice-success {
  color: #3C763D;
  border-color: #D6E9C6;
  background-color: #DFF0D8;
}
.epic-notice-info {
  color: #31708F;
  border-color: #BCE8F1;
  background-color: #D9EDF7;
}
.epic-notice-warning {
  color: #8A6D3B;
  border-color: #FAEBCC;
  background-color: #FCF8E3;
}
.epic-notice-danger {
  color: #A94442;
  border-color: #EBCCD1;
  background-color: #F2DEDE;
}
.epic-notice-default {
  color: #ffffff;
  background-color: #2d323d;
  border-color: #171b20;
}
.epic-notice-default .epic-notice-close {
  color: #FFF;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAAEhcmxxAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKpJREFUeNpi/P//PwMIMDFAwH+AAGIAiYB4/wECiBEqByYAAgjGgSs+D5XhB8mAGBdAMgABBNb9HwLOAzE/lD0fJgETgCmAWzwBiAVAFsEsAQggFBuRAUjHfJjtSC5hQDcfbgfM8vNIEvwwifNIKmEARQfM2PkgNkCAwSQYoAIwTyL77zxMMS67Ydadx+dYZNP+Y1HIj24DLsUYmpDdjy6JbgjYHzijAhcAADzkcmqZ0WKYAAAAAElFTkSuQmCC) no-repeat center center;
}
.epic-viewport {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.epic-viewport .epic-view {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.epic-viewport .epic-view .epic-view-status {
  display: none;
}
.epic-box {
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.epic-box-header {
  height: 40px;
  color: #FFF;
  font-size: 16px;
  background-color: #36a9e1;
  overflow: hidden;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.epic-box-header .epic-box-caption-wrapper {
  float: left;
  line-height: 40px;
  height: 40px;
}
.epic-box-header .epic-box-caption-wrapper > i {
  margin: 0 10px 0 15px;
  color: white;
}
.epic-box-header .epic-box-caption-wrapper .epic-box-btn {
  margin: 2px 0 0 4px;
}
.epic-box-header .epic-box-caption-wrapper .epic-box-caption {
  margin-left: 5px;
}
.epic-box-header .epic-box-controls {
  float: right;
  height: 40px;
}
.epic-box-header .epic-box-controls .epic-box-btn {
  margin: 2px 4px 0 0;
}
.epic-box-header .epic-box-btn {
  float: left;
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  color: #FFF;
  background-color: transparent;
  border: 0;
}
.epic-box-header .epic-box-btn.active,
.epic-box-header .epic-box-btn:hover {
  background-color: #1e8fc6 !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.epic-box-header .epic-box-btn i {
  line-height: 18px;
  position: absolute;
  left: 9px;
  top: 10px;
  color: white;
  font-size: 18px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.epic-box-header .epic-box-btn i:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
}
.epic-box-body {
  background-color: #FFF;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}
.epic-box-body .epic-box-content {
  margin: 10px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.epic-box-body:before,
.epic-box-body:after,
.epic-box-content:before,
.epic-box-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.epic-box-body:after,
.epic-box-content:after {
  clear: both;
}
.epic-box.shadowed {
  border: 1px solid #E4E6EB;
  -webkit-box-shadow: 0px 0px 3px 1px #e4e6eb;
  -moz-box-shadow: 0px 0px 3px 1px #e4e6eb;
  box-shadow: 0px 0px 3px 1px #e4e6eb;
}
.epic-box.white .epic-box-header {
  background-color: #FFF;
  border-bottom: 1px solid #E4E6EB;
}
.epic-box.white .epic-box-header h2 {
  color: #383E4B;
}
.btn {
  line-height: 21px;
  overflow: visible;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-text-shadow: none;
  text-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  padding: 4px 12px;
  border: 1px solid transparent;
  background-image: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-opacity: 65;
  -moz-opacity: 65;
  opacity: 65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=6500)";
  filter: alpha(opacity=6500);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #565656;
  background-color: #ffffff;
  border-color: #ebebeb;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.active,
.open .dropdown-toggle .btn-default {
  color: #565656;
  background-color: #ebebeb;
  border-color: #cccccc;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle .btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #ebebeb;
}
.btn-primary {
  color: #ffffff;
  background-color: #36a9e1;
  border-color: #1f96cf;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open .dropdown-toggle .btn-primary {
  color: #ffffff;
  background-color: #1f96cf;
  border-color: #176f9a;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #36a9e1;
  border-color: #1f96cf;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #ed9c28;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.active,
.open .dropdown-toggle .btn-warning {
  color: #ffffff;
  background-color: #ed9c28;
  border-color: #c77c11;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle .btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #ed9c28;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d2322d;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.active,
.open .dropdown-toggle .btn-danger {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #a02622;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle .btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d2322d;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #47a447;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.active,
.open .dropdown-toggle .btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #357935;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle .btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #47a447;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #39b3d7;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.active,
.open .dropdown-toggle .btn-info {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #2390b0;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle .btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #39b3d7;
}
.btn-size-normal i.pull-left {
  margin-top: 0;
  margin-left: 0;
  margin-right: 5px;
}
.btn-size-normal.btn-icon-only i {
  margin-right: 0;
}
.btn-group {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin: 20px 0;
  padding: 19px 20px 20px;
}
.btn-group .btn {
  margin-right: 5px;
}
.dock-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0px;
}
button.close {
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: 0;
  -webkit-appearance: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px solid #000000;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 0 dotted;
  content: "";
}
.dropdown {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.dropdown-toggle .caret {
  margin-top: -3px;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  display: none;
  float: left;
  min-width: 150px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 0;
  overflow: hidden;
  background-color: #e5e5e5;
  border: 0 none;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-family: sans-serif;
  font-weight: normal;
  line-height: 25px;
  color: #2d323d;
  text-decoration: none;
  white-space: nowrap !important;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #36a9e1;
}
.dropdown-menu > li > a > .active > a,
.dropdown-menu > li > a > .active > a:hover,
.dropdown-menu > li > a > .active > a:focus {
  color: #ffffff;
  background-color: #36a9e1;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
.dropdown-menu li {
  border-bottom: 1px solid #f9f9f9;
}
.dropdown-menu li:last-child {
  border-bottom: 0px !important;
  overflow: hidden;
}
.open > .dropdown-menu {
  display: block;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.428571429;
  color: #999999;
}
